@import './variables';
@import './mixins';

@page {
    size: letter portrait;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: darken(#ffffff, 5%);
    @include scroll;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.9rem;
    color: darken(map-get($PAGE, FONT_COLOR), -15%);
}

body {
    flex-shrink: 0;
    margin: 40px auto;
    background-color: white;
    width: map-get($PAGE, WIDTH);
    height: map-get($PAGE, HEIGHT);
    min-width: map-get($PAGE, WIDTH);
    min-height: map-get($PAGE, HEIGHT);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    @include print {
        margin: 0;
    }
}

* {
    box-sizing: border-box;
    font-family: map-get($PAGE, FONT_FAMILY);
    color: map-get($PAGE, FONT_COLOR);
    letter-spacing: 0.02rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}

#root {
    @include flex(column);
    position: relative;
    height: map-get($PAGE, HEIGHT);
    width: map-get($PAGE, WIDTH);
}

.fp {
    &__main {
        @include flex();
        z-index: 1;
    }

    &__box {
        background-color: darken(map-get($PAGE, FONT_COLOR), -80%);

        &--one {
            @include position(absolute, auto 0 0 auto);
            width: 20px;
            height: 245px;
        }

        &--two {
            @include position(absolute, 0 0 auto auto);
            width: 280px;
            height: 188px;
        }
    }

    &__line {
        @include position(absolute, auto auto 15px 0, auto, auto, 0, auto);
        @include flex(flex-start, center);
        font-weight: bold;
        font-size: 0.9rem;
        z-index: 1;
        &:before {
            content: '';
            width: 600px;
            height: 3px;
            margin: 2px 10px 0 0;
            background-color: map-get($PAGE, FONT_COLOR);
        }

        &-icon {
            margin: 0 4px;
        }
    }
}